/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/data
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
clean-pilot-431204-v4-2b963c39bab9.json
